version: "3.6"
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ee:latest
    ports:
      - 9443:9443
    volumes:
      - /mnt/home-lab/docker/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/home-lab:/mnt/home-lab
    restart: unless-stopped