version: "3.6"
services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ${HOME}/git_sync/home-lab/docker_config/loki/config.yaml:/etc/loki/config.yaml:ro
      - ${HOME}/docker_data/loki/data:/data/loki
    restart: unless-stopped

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    user: ${UID}:${GID}
    volumes:
      - ${HOME}/git_sync/home-lab/docker_config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ${HOME}/docker_data/prometheus/data:/prometheus
    ports:
      - 9090:9090
# most likely to remove
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  grafana:
    container_name: grafana
    image: grafana/grafana-oss:latest
    user: ${UID}:${GID}
    volumes:
      - ${HOME}/git_sync/home-lab/docker_config/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ${HOME}/git_sync/home-lab/docker_config/grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yaml:ro
      - ${HOME}/git_sync/home-lab/docker_config/grafana/dashboards:/var/lib/grafana/dashboards:ro
      - ${HOME}/git_sync/home-lab/docker_config/grafana/dashboards.yaml:/usr/share/grafana/conf/provisioning/dashboards/dashboards.yaml:ro
      - ${HOME}/docker_data/grafana/data:/var/lib/grafana
    ports:
      - 3000:3000
    links:
      - prometheus
    restart: unless-stopped

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ${HOME}/git_sync/home-lab/docker_config/promtail/config:/etc/promtail-config/:ro
    command: -config.file=/etc/promtail-config/promtail.yml
    depends_on:
      - "loki"
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped
