version: "3.6"
services:
  git-sync:
    container_name: git-sync
    image: registry.k8s.io/git-sync/git-sync:v3.6.5
    user: $UID:$GID
    volumes:
      - $HOME/git-sync:/tmp/git
    environment:
      - GIT_SYNC_REPO=https://github.com/Coren4/home-lab
      - GIT_SYNC_ROOT=/tmp/git
      - GIT_SYNC_PERIOD=60s
    restart: unless-stopped